<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/assets/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="../../public/favicon.ico">
	<title>EATtheMEAT!</title>
	<script src="https://code.jquery.com/jquery.js"></script> 
  	

	<script src="static/assets/js/burgers.js"></script>
</head>

<body>
	<div id="mainContent">
		{{{ body }}}
	</div>

</body>

</html>
