
<div id="logo">
  <img src="static/assets/img/burgerLogo.jpg" alt="" class="logo">
</div>

    <div id="buttons">
      <button id="devoured-sort">Show Un-eaten</button>
      <button id="available-sort">Show Eaten</button>
    </div>
    <table id="results">
      <thead>
        <tr>
          <th id="Burger-name">Name</th>
          <th id="Burger-Status">Available?</th>
        </tr>
      </thead>
      <tbody>
        <!-- Results from DB here -->
      </tbody>
    </table>


<form class="create-form">
  <hr>
  <h2>Add a Burger</h2>
  <div class="form-group">
    <label for="nameinput">Burger Name:</label>
    <input type="text" id="nameinput" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label>
    <br>
    <input type="radio" name="eaten" value="1" checked> Eaten!</inpu>
    <br>
    <input type="radio" name="eaten" value="0"> Un-eaten
  </div>

  <button class="create-burger" type="submit">Add Burger</button>
</form>